<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tags = '' | split: '' %}
  {% for tag in site.tags %}
    {% assign tags = tags | push: tag[0] %}
  {% endfor %}
  {% assign sorted_tags = tags | sort_natural %}
  {% for tag in sorted_tags %}
    {% assign display_tag = tag | replace: '-', ' ' | capitalize %}
    {% case tag %}
      {% when 'aws' %}{% assign display_tag = 'AWS' %}
      {% when 'genai' %}{% assign display_tag = 'GenAI' %}
      {% when 'llm' %}{% assign display_tag = 'LLM' %}
      {% when 'mlops' %}{% assign display_tag = 'MLOps' %}
      {% when 'dataops' %}{% assign display_tag = 'DataOps' %}
      {% when 'devsecops' %}{% assign display_tag = 'DevSecOps' %}
    {% endcase %}
    <div>
      <a class="tag" href="{{ tag | slugify | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ display_tag -}}
        <span class="text-muted">{{ site.tags[tag].size }}</span>
      </a>
    </div>
  {% endfor %}
</div>
